*.o
*.bin
proRun.sh
*.sys
x64BareBonesImage.img
x64BareBonesImage.qcow2
x64BareBonesImage.vmdk
*.DS_Store
settings.json
.bash_history
TPE.zip
*.elf
x64BareBone/.gdb_history
x64BareBone/finLog.txt
x64BareBone/makeLog.txt
x64BareBone.zip
x64BareBone/.gdb_history
Informe.pdf
memoryManager.out
RowDaBoat-x64barebones-d4e1c147f975/proRun.ps1
test.c
RowDaBoat-x64barebones-d4e1c147f975/proDebug.ps1
RowDaBoat-x64barebones-d4e1c147f975/out.cppOut
RowDaBoat-x64barebones-d4e1c147f975/pvs.sh
RowDaBoat-x64barebones-d4e1c147f975/report.tasks
